{% extends "layout.html" %}

{% block title %}
    Play
{% endblock %}

{% block main %}
<div id="players-turn">
  {% if state['players_turn'] %}
    {% set player = state['players_turn'] %}
    <button class="accordion active">{{player['name']}}'s Field</button>
    <div class="panel" id="player{{player['id']}}" style="display:block">
        <div>{{player['name']}}'s score: {{player['score']}}</div>
        <div class="circle" style="background-color:{{ 'blue' if player['flipped'] else 'gray;padding-top:0%' }}{{';padding-top:5%' if not player['is_first']}}">
          {% if player['is_first'] %}
            <img src="https://flaskdixit.files.wordpress.com/2020/08/star.png" style="width:100%;display:{{'none' if player['flipped'] else 'block'}}">
          {% endif %}
        </div>
        <br>

        <span class="card on-deck">
        {% set card = player['on_deck'] %}
          {% if card %}
            {% for advancement in card.listify_advs() %}
              <div class="cardAdv">
                <img src="https://flaskdixit.files.wordpress.com/2020/08/{{advancement[0:6]}}.png" class="advancement">
              </div>
            {% endfor %}
          {% endif %}
          {% if not card and player['deck_left'] > 0 %}
            <div class="cardAdv">
              <img src="https://flaskdixit.files.wordpress.com/2020/08/{{player['color']}}_background.png" class="advancement">
            </div>
          {% elif not card %}
            <div class="cardAdv">
              <img src="https://flaskdixit.files.wordpress.com/2020/08/blank_advancement.png" class="advancement">
            </div>
          {% else %}
            <div class="cardAdv card-background">
              <img src="https://flaskdixit.files.wordpress.com/2020/08/blank_advancement.png" class="advancement">
            </div>
          {% endif %}
        </span>

        {% for card in player['field'].values() %}
        <span class="card">
          <div class="cardAdv card-background">
            <img src="https://flaskdixit.files.wordpress.com/2020/08/blank_advancement.png" class="advancement">
          </div>
          {% for advancement in card.listify_advs() %}
          <div class="cardAdv">
            <img src="https://flaskdixit.files.wordpress.com/2020/08/{{advancement[0:6]}}.png" class="advancement">
          </div>
          {% endfor %}
        </span>
        {% endfor %}
      <br>
      <div style="width:100%;clear:both">
        {% for vale in player['vales'] %}
          <img src="https://flaskdixit.files.wordpress.com/2020/08/{{vale}}.png" class="vale" style="width:15%">
        {% endfor %}
      </div>
      <br>
    </div>
  {% endif %}
</div>



<div id='player'>
<button class="accordion">Vale Cards</button>
<div class="panel" id="vales-available">
  <div style="float:left;width:25%;background:#C0C0C0">
    {% for vale1 in state['vale_ones'] %}
      <img src="https://flaskdixit.files.wordpress.com/2020/08/{{vale1}}.png" class="vale" id ="{{vale1}}" onclick="buyVale('{{vale1}}')">
    {% endfor %}
  </div>
  <div style="float:left;width:25%;background:#999966">
    {% for vale2 in state['vale_twos'] %}
      <img src="https://flaskdixit.files.wordpress.com/2020/08/{{vale2}}.png" class="vale" id ="{{vale2}}" onclick="buyVale('{{vale2}}')">
    {% endfor %}
  </div>
</div>

<button class="accordion active">Advancements</button>
<div class="panel" id="advancements" style="display:block">
  <div class="col-container">
    <div class="col" style="background:#DCDCDC">
        {% for adv1 in state['adv_ones'] %}
          <img src="https://flaskdixit.files.wordpress.com/2020/08/{{adv1}}.png" class="buyable-adv" id="{{adv1}}" onclick="selectAdv('{{adv1}}','adv_deck')">
        {% endfor %}
        <br>
        <div style="text-align:center">{{state['adv_ones_left']}} level ones left</div>
    </div>
    <div class="col" style="background:#F8F8F8">
        {% for adv2 in state['adv_twos'] %}
          <img src="https://flaskdixit.files.wordpress.com/2020/08/{{adv2}}.png" class="buyable-adv" id="{{adv2}}" onclick="selectAdv('{{adv2}}','adv_deck')">
        {% endfor %}
    </div>
    <div class="col" style="background:#DCDCDC">
        {% for adv3 in state['adv_threes'] %}
          <img src="https://flaskdixit.files.wordpress.com/2020/08/{{adv3}}.png" class="buyable-adv" id="{{adv3}}" onclick="selectAdv('{{adv3}}','adv_deck')">
        {% endfor %}
    </div>
    <div class="col" style="background:#F8F8F8">
      <div class="col-container">
        {% for fs in state['fertile_soils'] %}
          <div class="col">
            {% if state['fertile_soils'][fs] %}
                <img src="https://flaskdixit.files.wordpress.com/2020/08/{{fs}}.png" class="fertile-soil" id="{{fs}}" onclick="selectAdv('{{fs}}','adv_deck')">
                <figcaption style="text-align:center">{{state['fertile_soils'][fs]}} left</figcaption>
            {% else %}
                <img src="https://flaskdixit.files.wordpress.com/2020/08/blank_advancement.png" class="fertile-soil">
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<button class="accordion active">Your Field</button>
<div class="panel" id="field" style="display:block">
  <div style="text-align:center;margin-top:1%;position:relative">
    <div style="float:left">
        <div id="score">Your score: {{state['score']}}</div>
        <button type="button" onclick="scorePoints()">+</button>
        <button type="button" onclick="losePoints()">-</button>
        <div id="points-left">Points left: {{state['points_left']}}</div>
        <button type="button" onclick="addBankPoints()">+</button>
        <button type="button" onclick="subBankPoints()">-</button>
        <div style="margin-bottom:10px"><button type="button" id="End Turn" onclick="endTurn()">End Turn</button></div>
    </div>
    <div class="circle" id="token" onclick="flipToken()" style="background-color:{{ 'blue' if state['flipped'] else 'gray;padding-top:0%' }}{{';padding-top:5%' if not state['is_first']}}">
      {% if state['is_first'] %}
        <img id="token-star" src="https://flaskdixit.files.wordpress.com/2020/08/star.png" style="width:100%;display:{{'none' if state['flipped'] else 'block'}}">
      {% endif %}
    </div>
    <div style="float:right">
      <button type="button" id="shuffle" onclick="shuffle()">Shuffle Deck</button>
      <br>
      <button type="button" id="add-to-deck" disabled onclick="addToDeck()">Move card to top of deck</button>
      <br>
      <button type="button" id="add-to-deck-bottom" disabled onclick="addToDeckBottom()">Move card to bottom of deck</button>
      <br>
      <button type="button" id="discard-card" disabled onclick="discardCard()">Discard card</button>
      <br>
      <button type="button" id="deselect" disabled onclick="deselectSelection()">Deselect</button>
      {% if state['using_leaders'] %}
        <br>
        <button type="button" id="flip-leader" disabled onclick="flipLeader()">Flip leader</button>
      {% endif %}
    </div>
  </div>
  <br>
  <span class="card on-deck">
    {% set card = state['on_deck'] %}
        {% if not card and state['deck_left'] > 0 %}
          <div class="cardAdv">
            <img src="https://flaskdixit.files.wordpress.com/2020/08/{{state['color']}}_background.png" class="advancement">
          </div>
        {% elif not card %}
          <div class="cardAdv">
            <img src="https://flaskdixit.files.wordpress.com/2020/08/blank_advancement.png" class="advancement">
          </div>
        {% else %}
          <div class="cardAdv card-background">
            <img src="https://flaskdixit.files.wordpress.com/2020/08/blank_advancement.png" class="advancement">
          </div>
        {% endif %}
        {% if card %}
          {% for advancement in card.listify_advs() %}
            <div class="cardAdv" id="{{advancement }}">
              <img src="https://flaskdixit.files.wordpress.com/2020/08/{{advancement[0:6]}}.png" class="advancement">
            </div>
          {% endfor %}
        {% endif %}
        {% if card %}
          <div class="card-select"><button type="button" onclick="pushCard()" id="{{card.id}}">Push ({{state['deck_left']}} Left)</button></div>
        {% elif state['deck_left'] > 0 %}
          <div class="card-select"><button type="button" onclick="flipCard()" id="{{flip}}">Flip ({{state['deck_left']}} Left)</button></div>
        {% else %}
          <div class="card-select"><button type="button" onclick="flipCard()" id="{{flip}}">Shuffle and Flip</button></div>
        {% endif %}
    </span>

    {% for card in state['field'].values() %}
    <span class="card">
      <div class="cardAdv card-background">
        <img src="https://flaskdixit.files.wordpress.com/2020/08/blank_advancement.png" class="advancement">
      </div>
      {% for advancement in card.listify_advs() %}
      <div class="cardAdv" id="{{advancement }}">
        <img src="https://flaskdixit.files.wordpress.com/2020/08/{{advancement[0:6]}}.png" class="advancement" onclick="selCardAdv('{{card.id}}','field')">
      </div>
      {% endfor %}
      <div class="card-select"><button type="button" id="{{card.id}}" onclick="selectCard('{{card.id}}','field')">^Select Card</button></div>
    </span>
    {% endfor %}
  <br>
</div>

<button class="accordion active">Vales Owned ({{state['vales']|length}} vale{{'s' if state['vales']|length != 1}})</button>
<div class="panel" id="vales-owned" style="display:block">
  <div style="width:100%">
    <button type="button" id="discard-vale" disabled onclick="discardVale()">Discard vale</button>
    <br>
    <button type="button" id="move-to-vales" disabled onclick="moveToVales()">Move to your vales</button>
    <br>
    {% for vale in state['vales'] %}
      <img src="https://flaskdixit.files.wordpress.com/2020/08/{{vale}}.png" class="vale" style="width:15%" id ="{{ vale}}" onclick="selectVale('{{vale}}','vales')">
    {% endfor %}
  </div>
  <br>
</div>

<button class="accordion">Your Discard ({{state['discard']|length}} card{{'s' if state['discard']|length != 1}})</button>
<div class="panel" id="discard">
  <br>
  <button type="button" onclick="discardField()">Discard field</button>
  <br>
    {% for card in state['discard'] %}
    <span class="card">
      <div class="cardAdv card-background">
        <img src="https://flaskdixit.files.wordpress.com/2020/08/blank_advancement.png" class="advancement">
      </div>
      {% for advancement in card.listify_advs() %}
      <div class="cardAdv" id="{{advancement }}">
        <img src="https://flaskdixit.files.wordpress.com/2020/08/{{advancement[0:6]}}.png" class="advancement">
      </div>
      {% endfor %}
      <div class="card-select"><button type="button" id="{{card.id}}" onclick="selectCard('{{card.id}}','discard')">^Select Card</button></div>
    </span>
    {% endfor %}
  <br>
</div>

<button class="accordion">Purgatory</button>
<div class="panel" id="purgatory">
  <br>
  <button type="button" id="move-to-purgatory" onclick="moveToPurgatory()" disabled>Move to Purgatory</button>
  <br>
    {% for card in state['purgatory']['cards'].values() %}
    <span class="card">
      <div class="cardAdv card-background">
        <img src="https://flaskdixit.files.wordpress.com/2020/08/blank_advancement.png" class="advancement">
      </div>
      {% for advancement in card.listify_advs() %}
      <div class="cardAdv" id="{{advancement }}">
        <img src="https://flaskdixit.files.wordpress.com/2020/08/{{advancement[0:6]}}.png" class="advancement">
      </div>
      {% endfor %}
      <div class="card-select"><button type="button" id="{{card.id}}" onclick="selectCard('{{card.id}}','purgatory')">^Select Card</button></div>
    </span>
    {% endfor %}

    <div style="float:left;width:100%" id="others">
    {% for other in state['purgatory']['others'] %}
      <img src="https://flaskdixit.files.wordpress.com/2020/08/{{other[0:([6,other|length]|min)]}}.png" class="vale" style="width:15%" id ="{{ other }}" onclick="{{'selectVale(' if other[0] == 'v' else 'selectAdv('}}'{{other}}','purgatory')">
    {% endfor %}
  </div>
  <br>
</div>

<div id="deck" style="display:none">
  <button class="accordion">Your Deck</button>
  <div class="panel">
    <br>
      {% for card in state['deck'] %}
      <span class="card">
        <div class="cardAdv card-background">
          <img src="https://flaskdixit.files.wordpress.com/2020/08/blank_advancement.png" class="advancement">
        </div>
        {% for advancement in card.listify_advs() %}
        <div class="cardAdv" id = {{advancement}}>
          <img src="https://flaskdixit.files.wordpress.com/2020/08/{{advancement[0:6]}}.png" class="advancement">
        </div>
        {% endfor %}
        <div class="card-select"><button type="button" id="{{card.id}}" onclick="selectCard('{{card.id}}','deck')">^Select Card</button></div>
      </span>
      {% endfor %}
    <br>
  </div>
</div>
</div>

<div id = "other-players">
  {% for player in state['other_players'] %}
  <button class="accordion">{{player['name']}}'s Field</button>
  <div class="panel" id="purgatory">
      <div>{{player['name']}}'s score: {{player['score']}}</div>
      <div class="circle" style="background-color:{{ 'blue' if player['flipped'] else 'gray;padding-top:0%' }}{{';padding-top:5%' if not player['is_first']}}">
        {% if player['is_first'] %}
          <img src="https://flaskdixit.files.wordpress.com/2020/08/star.png" style="width:100%;display:{{'none' if player['flipped'] else 'block'}}">
        {% endif %}
      </div>
      <br>

      <span class="card on-deck">
      {% set card = player['on_deck'] %}
        {% if card %}
          {% for advancement in card.listify_advs() %}
            <div class="cardAdv">
              <img src="https://flaskdixit.files.wordpress.com/2020/08/{{advancement[0:6]}}.png" class="advancement">
            </div>
          {% endfor %}
        {% endif %}
        {% if not card and player['deck_left'] > 0 %}
          <div class="cardAdv">
            <img src="https://flaskdixit.files.wordpress.com/2020/08/{{player['color']}}_background.png" class="advancement">
          </div>
        {% elif not card %}
          <div class="cardAdv">
            <img src="https://flaskdixit.files.wordpress.com/2020/08/blank_advancement.png" class="advancement">
          </div>
        {% else %}
          <div class="cardAdv card-background">
            <img src="https://flaskdixit.files.wordpress.com/2020/08/blank_advancement.png" class="advancement">
          </div>
        {% endif %}
      </span>

      {% for card in player['field'].values() %}
      <span class="card">
        <div class="cardAdv card-background">
          <img src="https://flaskdixit.files.wordpress.com/2020/08/blank_advancement.png" class="advancement">
        </div>
        {% for advancement in card.listify_advs() %}
        <div class="cardAdv">
          <img src="https://flaskdixit.files.wordpress.com/2020/08/{{advancement[0:6]}}.png" class="advancement">
        </div>
        {% endfor %}
      </span>
      {% endfor %}
    <br>
    <div style="width:100%;clear:both">
      {% for vale in player['vales'] %}
        <img src="https://flaskdixit.files.wordpress.com/2020/08/{{vale}}.png" class="vale" style="width:15%">
      {% endfor %}
    </div>
    <br>
  </div>
  {% endfor %}
</div>

<br>
<button type="button" id="toggle-deck" onclick="toggleDeck()">Show Your Deck</button>

<script src="../static/script.js"></script>
<script>
    createAccordion();
    var source = null;
    var selection = null;
    var source_card = null;
</script>

<script>
    // Will execute every 1 second
    player_ids = {{state['player_ids']}}
    var intervalID = window.setInterval(check_server, 1000);

    function check_server() {
        player = player_ids[0]
        $.get('/update',{'player':player},function(data) {
            // current player's turn
            if (data.reload) {
              if (window.confirm("It's your turn! Click okay to reload the page.")) {
                window.location.replace('/play');
              }
            }

            // need to update everyone's fields
            else if (data.turn_field) {
              $('#players-turn').html(data.turn_field)
              $('#other-players').html(data.all_players_field)
            }

            // need to update one player's field
            else if (data.requested_field) {
              hidden = $(`#player${player}`).is(':hidden');
              $(`#player${player}`).html(data.requested_field);
              console.log('updated')
              if (!hidden) {
                $(`#player${player}`).display = 'block';
                $(`#player${player}`).prev().removeClass('active');
              }
              else {
                 $(`#player${player}`).display = 'none';
                $(`#player${player}`).prev().addClass('active');
              }
            }
        });
    }
</script>
{% endblock %}