{% extends "layout.html" %}

{% block title %}
    Play
{% endblock %}

{% block main %}
<div id="players-turn">
  {% if state['players_turn'] %}
    {% set player = state['players_turn'] %}
    <button class="accordion active">{{player['name']}}'s Field</button>
    <div class="panel" id="player{{player['id']}}" style="display:block">
        {% include 'field.html' %}
    </div>
  {% endif %}
</div>

<div id='player'>
<button class="accordion">Vale Cards</button>
<div class="panel" id="vales-available">
  {% include 'vales.html' %}
</div>

<button class="accordion active">Advancements</button>
<div class="panel" id="advancements" style="display:block">
  {% include 'advancements.html' %}
</div>

<button class="accordion active">Your Field</button>
<div class="panel" id="field" style="display:block">
  {% include 'own_field.html' %}
</div>

<button class="accordion active">Vales Owned ({{state['vales']|length}} vale{{'s' if state['vales']|length != 1}})</button>
<div class="panel" id="vales-owned" style="display:block">
  {% include 'own_vales.html' %}
</div>

<button class="accordion">Your Discard ({{state['discard']|length}} card{{'s' if state['discard']|length != 1}})</button>
<div class="panel" id="discard">
  {% include 'discard.html' %}
</div>

<button class="accordion">Purgatory</button>
<div class="panel" id="purgatory">
  {% include 'purgatory.html' %}
</div>

<div id="deck" style="display:none">
  <button class="accordion active">Your Deck</button>
  <div class="panel" style="display:block" id="deck-display">
    {% include 'deck.html' %}
  </div>
</div>
</div>

<div id="other-players">
  {% for player in state['other_players'] %}
  <button class="accordion">{{player['name']}}'s Field</button>
  <div class="panel" id="player{{player['id']}}">
    {% include 'field.html' %}
  </div>
  {% endfor %}
</div>

<br>
<button type="button" id="toggle-deck" onclick="toggleDeck()">Show Your Deck</button>
<br>
<button type="button" onclick="undo()">Undo:</button>
<input autocomplete="off" id="undo-number" value="1" type="number" style="width:30px"/>

<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="modalImg">
</div

<script src="../static/script.js"></script>
<script>
    setup();
    var source = null;
    var selection = null;
    var source_card = null;
    var player_ids = {{state['player_ids']}}
</script>
{% endblock %}