<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <link href="/static/styles.css" rel="stylesheet"/>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="{{ url_for('static', filename='script.js') }}"></script>

        <title>mysticVale: {% block title %}{% endblock %}</title>

    </head>

    <body>
        <main class="container p-5">
            {% if 'name' in session and 'id' not in session %}
                <div style="width: 50%">
                    <form action="/wait" method="post">
                        <button class="btn btn-primary" type="submit">Join Game</button>
                    </form>
                </div>
            {% endif %}
            <br>

            {% block main %}{% endblock %}
        </main>
    </body>
</html>
